/* Importando a fonte Roboto para usar no front do MVP */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --branco: rgb(255, 255, 255);
    --cor-fundo: rgb(10, 38, 71);
    --cor-button: rgb(20, 66, 114);
    --cor-button-hover: rgb(32, 82, 149);
    --cor-button-cancel: rgba(220, 53, 69);
    --cor-button-confirm: rgb(40, 167, 69);
}

body,
ul,
li,
table {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
}

header {
    background-color: var(--cor-fundo);
    color: var(--branco);
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: var(--branco);
    width: 100%;
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

/* Tamanho do ícone */
.button-float-right i {
    font-size: 20px;
}

.button-float-right {
    color: var(--cor-button);
    background-color: var(--branco);
}

.button-float-right:hover {
    background-color: var(--cor-button-hover);
    color: var(--branco);
}

.button-float-right:active {
    background-color: var(--cor-fundo);
    color: var(--branco);
}

.button-confirm {
    color: var(--branco);
    background-color: var(--cor-button-confirm);
}

.button-cancel {
    color: var(--branco);
    background-color: var(--cor-button-cancel);
}

.button-text {
    margin-left: 5px;
    white-space: nowrap;
}

/* Ocultar texto em telas pequenas */
@media screen and (max-width: 768px) {
    .button-text {
        display: none;
    }
}

.button-bar {
    display: flex;
    justify-content: end;
}

/* Estilizando a tabela */
table {
    margin: 10px 10px 10px 10px;
    width: calc(100% - 20px);
    border-collapse: collapse;
    border: 1px solid var(--branco);
}

/* Estilizando as células da tabela */
th,
td {
    padding: 8px;
    border-bottom: 1px solid var(--branco);
    text-align: left;
}

/* Estilo para cabeçalhos */
th {
    background-color: #f2f2f2;
}

/* Estilo de hover para linhas */
tr:hover {
    background-color: #f5f5f5;
}

/* Estilo alternado para linhas */
tr:nth-child(even) {
    background-color: #fff;
}

/* Estilo para a primeira coluna */
td:first-child,
th:first-child {
    border-left: 1px solid var(--branco);
}

/* Estilo para a última coluna */
td:last-child,
th:last-child {
    border-right: 1px solid var(--branco);
}



label {
    display: inline-block;
    width: 150px;
    /* largura dos rótulos */
    text-align: right;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 300px;
    /* largura dos campos de entrada */
}

.form-group {
    margin-bottom: 15px;
}


/* Estilo para o Modal */
.modal {
    position: fixed;
    top: 0;
    /*-100vh;*/
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: top 0.3s ease-in-out;
}

.modal-visible {
    top: 0;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--branco);
    padding: 20px;
    border-radius: 10px;
}

.modal-button {
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

/* 



.newItem {
    background-color: rgb(225, 222, 199);
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newInput {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 25%;
    padding: 10px;
    font-size: 16px;
}

#newQuantity {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 8%;
    padding: 10px;
    font-size: 16px;
}

#newPrice {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 5%;
    padding: 10px;
    font-size: 16px;
}


.addBtn {
    padding: 9px 10px;
    background-color: rgb(35, 32, 24);
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #2ab53a;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: start;
}

table{
    background-color: white;
    width: 50%;
}

tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: 80%;
}

tr:hover {
    background: rgb(200, 199, 199);
} */